@page
@model Codepedia.Pages.google_sign_inModel
@{
}
<form method="POST">
    <div class=form-group>
        <label for=usernameI>Username</label>
        <input id=usernameI name=username class=form-control required pattern="@AccountModel.userNameRegex" title="@AccountModel.badUsernameMessage" />
    </div>
    @if (Request.Query.TryGetValue("username-already-taken", out _))
    {
        <div class="alert alert-danger" role="alert">Username already taken.</div>
        <script>modifyQS('username-already-taken', undefined)</script>
    }
    <input type=hidden name="id_token" value="@Model.IdToken" />
    <input type="hidden" name="next" value="@Request.Query["next"]" />
    <button>Confirm User</button>
</form>